@tailwind base;
@tailwind components;
@tailwind utilities;

/* === CUSTOM SCROLLBAR (Chrome/Safari/Edge) === */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5); /* Warna abu-abu transparan */
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.8);
}

/* === AGAR SCROLL HALUS (SMOOTH SCROLL) === */
html {
  scroll-behavior: smooth;
}

/* === HILANGKAN WARNA BIRU SAAT KLIK DI HP (TAP HIGHLIGHT) === */
* {
  -webkit-tap-highlight-color: transparent;
}

